<header>
  <!-- Header Bottom -->
  <div class="header">
    <div class="container">
      <span routerLink="/" class="logo clickable">
        <img src="../../../../assets/img/logo.svg" alt="image" />
      </span>
      <ul class="nav-list" [class.open-menu]="hamClick">
        <li
          *ngFor="let i of navLink"
          class="nav-item"
          [routerLink]="i.link"
          routerLinkActive="active"
          (click)="closeMenu()"
        >
          {{ i.name }}

          <!-- Drop down -->
          <!-- <ul class="drop-down" *ngIf="i.subLinks != ''">
            <li class="sub-nav-item" *ngFor="let child of i.subLinks">
              <a [href]="child.link">{{ child.name }}</a>
            </li>
          </ul> -->
        </li>
      </ul>

      <div class="right-area dis-flex">
        <div class="get-started" *ngIf="signedIn == false">
          <button class="btn prim-btn" routerLink="/auth">Get Started</button>
        </div>
        <div class="profile dis-flex" *ngIf="signedIn == true">
          <img
            src="../../../../assets/img/profile-pic.png"
            alt=""
            class="profile-pic"
          />
          <span>
            <h5 class="profile-name">Dominic Praise</h5>
            <small>Individual Plan</small>
          </span>
          <img
            src="../../../../assets/img/svg/caret-down.svg"
            alt=""
            class="icon"
          />
        </div>

        <!-- Hamburger menu -->
        <div
          class="toggle-menu"
          (click)="openMenu()"
          [class.open-menu]="hamClick"
        >
          <span class="menu-bar"></span>
        </div>
      </div>
    </div>
  </div>
</header>
