<div class="auth">
  <div class="auth-content">
    <!-- <div class="auth-content-head">
      <p class="uc">Create an account</p>
      <h2>
        Welcome here boss <img src="../../../assets/img/svg/hi.svg" alt="" />
      </h2>
    </div> -->
    <form class="auth-content-form">
      <div class="form-field col-2">
        <label for="cardnumber">Card Number</label>
        <div class="form-control">
          <input
            type="text"
            id="cardnumber"
            placeholder="6789 XXXX XXXX XXXX"
          />
        </div>
      </div>
      <div class="form-field col-2">
        <label for="holdername">Holder's Name</label>
        <div class="form-control">
          <input type="text" id="holdername" placeholder="Joe Biden" />
        </div>
      </div>
      <div class="form-field">
        <label for="cvv">CVV</label>
        <div class="form-control">
          <input type="email" id="cvv" placeholder="XXX" />
        </div>
      </div>
      <div class="form-field">
        <label for="pin">Pin</label>
        <div class="form-control">
          <input type="email" id="pin" placeholder="01/01" />
        </div>
      </div>
      <div class="form-btn col-2">
        <button class="btn prim-btn clickable">
          <!-- <span *ngIf="loading">Loading...</span>
            <span *ngIf="!loading">Login</span> -->
          Proceed to pay
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Vectors -->
<div class="vectors">
  <img
    src="../../../assets/img/svg/auth_vector2.svg"
    alt=""
    class="vectors_left"
  />
  <img
    src="../../../assets/img/svg/auth_vector1.svg"
    alt=""
    class="vectors_right"
  />
</div>
