@import "../../../assets/css/auth.css";

.form-field label {
  display: block;
  margin-bottom: 0.5rem;
}
.auth-content-form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
}
.auth-content-form .col-2 {
  grid-column: 1 / span 2;
}
