<!-- hero -->
<section class="hero sect">
  <div class="container ba-flex-content">
    <div class="hero-details ba-flex-details">
      <h1 class="">Everyone needs affordable health insurance.</h1>
      <p class="paragh">
        At Bastion we are working towards a healthier Nigeria, bringing greater
        convenience to healthcare access. We have carefully designed an array of
        healthcare plans that ensures there is something for everyone.
      </p>
      <button class="btn prim-btn dis-flex">Get Started Now</button>
      <div class="app-btns">
        <div class="btn dis-flex">
          <img
            src="../../../assets/img/svg/Playstore.svg"
            alt="image"
            class="icon"
          />
          <span>
            <small>Get it on</small>
            <p>Play Store</p>
          </span>
        </div>
        <div class="btn dis-flex">
          <img
            src="../../../assets/img/svg/apple.svg"
            alt="image"
            class="icon"
          />
          <span>
            <small>Get it on</small>
            <p>App Store</p>
          </span>
        </div>
      </div>
    </div>
    <div class="ba-flex-img">
      <img src="../../../assets/img/Bastion_V_3_c9d15e1e64.png" alt="image" />
    </div>
  </div>
</section>

<!-- Section -->
<section class="sect">
  <div class="container ba-flex-content row-reverse">
    <div class="ba-flex-img">
      <img src="../../../assets/img/home/Group1.png" alt="image" />
    </div>
    <div class="ba-flex-details">
      <h2 class="">Everyone’s health matters to us.</h2>
      <p class="paragh">
        Bastion offers innovative healthcare solutions with extensive
        flexibility, to provide quality healthcare with the peace of mind for
        the insured, anywhere, anytime.
      </p>
      <button class="btn sec-btn dis-flex">Get Started Now</button>
    </div>
  </div>
</section>

<!-- Plans-->
<section class="sect">
  <div class="container">
    <div class="ba-sect-header">
      <h2 class="">Our Health Plans</h2>
      <p>We have suitable health plans for everyone</p>
    </div>
    <div class="ba-card">
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img
              src="../../../assets/img/home/svg/marginalia-1199 1.svg"
              alt="image"
            />
          </picture>
          <h3 class="fm-text fm-sect-text">Individual & Family</h3>
          <p>
            We have budget-friendly plans to support you and your family’s
            unique care needs. Our plans are comprehensive, covering primary
            health care, consultations with specialists, accident and emergency
            care, physiotherapy care, mental health, telemedicine and lifestyle
            management.
          </p>
        </div>
        <button class="btn tert-btn clickable" routerLink="/individual">
          Learn More >
        </button>
      </div>
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img
              src="../../../assets/img/home/svg/3d-flame-320 1.svg"
              alt="image"
            />
          </picture>
          <h3 class="fm-text fm-sect-text">Corporate</h3>
          <p>
            We partner with organisations to create health insurance packages
            that work best for the organisation and its employees. We offer a
            wide range of benefits plans, nationwide networks, health data
            insights, innovative technology and a dedicated team that ensure all
            our benefits work together for better health, reduced costs, and
            improved processes.
          </p>
        </div>
        <button class="btn tert-btn clickable" routerLink="/corporate">
          Learn More >
        </button>
      </div>
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/home/svg/3d-flame-268 1.svg" />
          </picture>
          <h3 class="fm-text fm-sect-text">Small Business</h3>
          <p>
            Whether you are just starting out or have been in business for
            years, we offer small businesses flexible and customisable health
            plans, financial wellness resources to keep your business and your
            employees healthy while managing health care costs. Our SME plans
            are designed for small businesses composed of 2 or up to 50
            employees.
          </p>
        </div>
        <button class="btn tert-btn clickable" routerLink="/small-business">
          Learn More >
        </button>
      </div>
    </div>
  </div>
</section>

<!-- Provider -->
<section class="sect">
  <div class="container ba-flex-content">
    <div class="ba-flex-img">
      <img src="../../../assets/img/home/Group2.png" alt="image" />
    </div>
    <div class="ba-flex-details">
      <h2 class="">Find the closest provider near you.</h2>
      <p class="paragh">
        Using our health provider search service, you can find hospitals,
        phamacy, opticians, dentists and physiotherapists near you.
      </p>
      <button class="btn prim-btn clickable" routerLink="/provider">
        Get started
      </button>
    </div>
  </div>
</section>

<!-- App download -->
<app-app-download></app-app-download>
