<!-- Section -->
<section class="sect">
  <div class="container ba-flex-content row-reverse">
    <div class="ba-flex-img">
      <img src="../../../assets/img/sme/group5.png" alt="image" />
    </div>
    <div class="ba-flex-details">
      <h2 class="">About SMEs Health Plans</h2>
      <p class="paragh">
        We understand the need to choose a health plan as unique as your
        business and employees. At Bastion, you will always find affordable
        plans tailored to your budget and needs. All our plans include a set of
        essential health benefits such as Inpatient care, Outpatient care,
        General and Specialist Consultation, Diagnostic & Laboratory Tests,
        Emergency Services and Telemedicine. See further details below of the
        cover you can expect.
      </p>
      <!-- <button class="btn sec-btn dis-flex">Get Started Now</button> -->
    </div>
  </div>
</section>

<!-- Section -->
<section class="pricing-sect sect">
  <div class="container">
    <div class="pricing-header">
      <div class="">
        <h3 class="">SMEs Pricing</h3>
        <p class="">Plan key features</p>
      </div>
      <div class="pricing-tabs dis-flex">
        <button class="monthly">Monthly</button>
        <button class="quarterly">Quarterly</button>
        <button class="half-yearly">Half Year</button>
        <button class="yearly">Yearly</button>
      </div>
    </div>
    <div class="pricing-body">
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Benefit</h5>
          <h4 class="price">NGN 150,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Benefit</h5>
          <h4 class="price">NGN 250,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Benefit</h5>
          <h4 class="price">NGN 350,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Chronic Treatments</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Preventive care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="ba-card"></div>
    </div>
  </div>
</section>
