/* Variables starts */
:root {
  --primary-color: #0c6525;
  --light-green-color: #21b44e;
  --dark-green-color: #001710;
  --yellow-color: #ff9100;
  --white-color: #ffffff;
  --grey-color1: rgba(0, 7, 37, 0.05);
  --grey-color2: rgba(0, 0, 0, 0.5);
  --box-shadow: 0 0 12px 0 rgb(0 0 0 / 12%);
  --border-radius: 5px;
}
/* Variables ends */

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Poppins", sans-serif;
  position: relative;
  color: var(--dark-green-color);
}

/* General starts */
a {
  color: var(--secondary-color);
}
button {
  border: none;
  outline: none;
  font-size: 16px;
  cursor: pointer;
}
input,
button,
textarea,
select {
  font-family: "Poppins", sans-serif;
}
input::placeholder,
textarea::placeholder {
  font-family: "Poppins", sans-serif;
}

/* Buttons Starts */
.btn {
  position: relative;
  display: inline-block;
  padding: 0.8rem 1.5rem;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  transition: all 0.4s;
  z-index: 1;
  border-radius: var(--border-radius);
}
.prim-btn {
  color: var(--white-color);
  background-color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.prim-btn:hover {
  background-color: var(--white-color);
  color: var(--primary-color);
}
.sec-btn {
  background-color: var(--yellow-color);
  color: var(--white-color);
  border: 2px solid var(--yellow-color);
}
.sec-btn:hover {
  color: var(--yellow-color);
  background-color: var(--white-color);
  border: 2px solid var(--yellow-color);
}
.tert-btn {
  background-color: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
.tert-btn:hover {
  color: var(--white-color);
  background-color: var(--primary-color);
}
/* Buttons ends */

/* Section starts */
.container {
  padding: 0 5%;
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 1250px;
    margin: 0 auto;
  }
}
.sect {
  padding: 4rem 0;
}
@media only screen and (max-width: 870px) {
  .sect {
    padding: 3rem 0;
  }
}
/* Section ends */

.clickable {
  cursor: pointer;
}
.uc {
  text-transform: uppercase;
}
.dis-flex {
  display: flex;
  align-items: center;
}
/* Headings and texts  starts */
h1 {
  font-size: 34px;
}
h2 {
  font-size: 30px;
  font-weight: 600;
}
h3 {
  font-size: 26px;
  font-weight: 500;
}
h4 {
  font-size: 22px;
  font-weight: 500;
}
h5 {
  font-size: 18px;
  font-weight: 500;
}
h6 {
  font-size: 14px;
  font-weight: 500;
}
p,
li {
  font-size: 18px;
  line-height: 30px;
  font-weight: 300;
}
/* Headings and texts ends */

/* Header Hero starts */
/* .hero-area {
  padding: 12% 5%;
  color: var(--white-color);
  text-align: center;
  background-position: center;
  background-size: cover;
} */
/* Header Hero ends */

/* ba flex starts */
.ba-flex-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ba-flex-content.row-reverse {
  flex-direction: row-reverse;
}
.ba-flex-details {
  flex-basis: 50%;
}
.ba-flex-details h2 {
  /* margin-bottom: 1.5rem; */
}
.paragh {
  margin: 1.5rem 0 2rem 0;
}
.ba-flex-img {
  flex-basis: 40%;
  text-align: center;
}
.ba-flex-img img {
  max-width: 100%;
  height: auto;
}
@media only screen and (max-width: 670px) {
  .ba-flex-content {
    display: grid;
    grid-gap: 2rem;
    justify-content: normal;
  }
}
/* ba flex ends */

/* ba card starts */
.ba-sect-header {
  text-align: center;
  margin-bottom: 3rem;
}
.ba-sect-header p {
  margin-top: 0.5rem;
}
.ba-card {
  display: grid;
  grid-gap: 2rem;
  text-align: center;
}
@media only screen and (min-width: 450px) {
  .ba-card {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}
.ba-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.ba-item-details {
  margin-bottom: 0.5rem;
}
.ba-item img {
  /* width: 100%; */
  /* height: 261px; */
  margin-bottom: 1rem;
}
.ba-item p {
  margin: 1.5rem 0 0.5rem 0;
}
/* ba card ends */

/* App Download Button starts */
.app-btns {
  display: flex;
  margin-top: 1.5rem;
}
.app-btns .btn {
  background-color: #e5e5e5;
  padding: 0.3rem 0.8rem;
}
.app-btns .btn:not(:last-child) {
  margin-right: 1rem;
}
.app-btns .btn .icon {
  margin-right: 0.5rem;
  width: 20px;
  height: 20px;
}
.app-btns .btn small {
  font-size: 8px;
}
.app-btns .btn p {
  font-weight: 600;
  margin-top: -0.5rem;
}
/* App Download Button ends */
