<section class="app-download">
  <div class="ba-flex-content">
    <div class="app-download-details ba-flex-details">
      <h2 class="">Bastion App available</h2>
      <p class="paragh">
        Download the Bastion App and experience the best Health Insurance
        Service.
      </p>
      <div class="app-btns">
        <div class="btn dis-flex">
          <img
            src="../../../assets/img/svg/Playstore.svg"
            alt="image"
            class="icon"
          />
          <span>
            <small>Get it on</small>
            <p>Play Store</p>
          </span>
        </div>
        <div class="btn dis-flex">
          <img
            src="../../../assets/img/svg/apple.svg"
            alt="image"
            class="icon"
          />
          <span>
            <small>Get it on</small>
            <p>App Store</p>
          </span>
        </div>
      </div>
    </div>
    <img src="../../../assets/img/home/group3.png" alt="image" />
  </div>
</section>
