<!-- Section -->
<section class="sect">
  <div class="container ba-flex-content row-reverse">
    <div class="ba-flex-img">
      <img src="../../../assets/img/individual-plan/group1.png" alt="image" />
    </div>
    <div class="ba-flex-details">
      <h2 class="">About Individual & Family Health Plans</h2>
      <p class="paragh">
        Choosing a health plan for yourself can sometimes prove to be a daunting
        task. At Bastion, we have carefully designed an array of healthcare
        plans at different prices that adequately cater to your healthcare needs
        and those of your loved ones. For every different family type, we have
        affordable and discounted premium to suit your budget. See further
        details below of the cover you can expect.
      </p>
      <!-- <button class="btn sec-btn dis-flex">Get Started Now</button> -->
    </div>
  </div>
</section>

<!-- Made for you-->
<section class="sect" style="background-color: #c9e94833">
  <div class="container">
    <div class="ba-sect-header">
      <h2 class="">Made specially for you and your family</h2>
      <p>We have suitable health plans for your family.</p>
    </div>
    <div class="ba-card">
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/svg/Edc Machine.svg" alt="image" />
          </picture>
          <h3 class="fm-text fm-sect-text">Flexible payments</h3>
          <p>Pay monthly, quarterly or annually</p>
        </div>
      </div>
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/svg/Contact Us.svg" alt="image" />
          </picture>
          <h3 class="fm-text fm-sect-text">24/7 customer care</h3>
          <p>
            Zero wait times. You can always rely on us to be reachable at
            anytime of the day, every day of the week.
          </p>
        </div>
      </div>
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/svg/Stethoscope.svg" />
          </picture>
          <h3 class="fm-text fm-sect-text">Best hospitals near you</h3>
          <p>
            We're partners with over 1,500 hospitals across Nigeria which means
            no matter where you are, you can get access to good quality
            healthcare.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- How it works -->
<section class="sect">
  <div class="container">
    <div class="ba-sect-header">
      <h2 class="">How It Works</h2>
      <!-- <p>We have suitable health plans for your family.</p> -->
    </div>
    <div class="ba-card">
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/svg/Touch hand gesture.svg" />
          </picture>
          <h3 class="fm-text fm-sect-text">Pick your preferred plan</h3>
          <p>
            Choose between the monthly, quarterly or yearly payment periods and
            select any of our health insurance plans that fit your needs
          </p>
        </div>
      </div>
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/svg/Credit Card.svg" alt="image" />
          </picture>
          <h3 class="fm-text fm-sect-text">Pay online</h3>
          <p>
            Enter your details and pay online with your card. It’s very simple
          </p>
        </div>
      </div>
      <div class="ba-item">
        <div class="ba-item-details">
          <picture class="">
            <img src="../../../assets/img/svg/Couple in love.svg" alt="image" />
          </picture>
          <h3 class="fm-text fm-sect-text">Start accessing care!</h3>
          <p>
            After paying, watch out for the series of newsletters you’ll get
            from us, explaining how to use your health plans to stay healthy.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Pricing -->
<section class="pricing-sect sect">
  <div class="container">
    <div class="pricing-header">
      <div class="">
        <h3 class="">Individual & Family Pricing</h3>
        <p class="">Pick any comfortable payment plan that works for you.</p>
      </div>
      <div class="pricing-tabs dis-flex">
        <button
          class="monthly"
          [class.active]="id == 'monthly'"
          (click)="tabChange('monthly')"
        >
          Monthly
        </button>
        <button
          class="quarterly"
          [class.active]="id == 'quarterly'"
          (click)="tabChange('quarterly')"
        >
          Quarterly
        </button>
        <button
          class="half-yearly"
          [class.active]="id == 'half-yearly'"
          (click)="tabChange('half-yearly')"
        >
          Half Yearly
        </button>
        <button
          class="yearly"
          [class.active]="id == 'yearly'"
          (click)="tabChange('yearly')"
        >
          Yearly
        </button>
      </div>
    </div>
    <!-- Monthly -->
    <div class="pricing-body" *ngIf="id == 'monthly'">
      <div class="pricing-item" *ngFor="let i of plans">
        <div class="pricing-details">
          <h5>{{ i.name }}</h5>
          <h4 class="price">NGN {{ i.price | number }}</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul *ngFor="let child of i.benefits">
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>{{ child.name }}</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
    </div>
    <!-- Quarterly -->
    <div class="pricing-body" *ngIf="id == 'quarterly'">
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Quarterly benefit</h5>
          <h4 class="price">NGN 150,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Quarterly Benefit</h5>
          <h4 class="price">NGN 250,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Quarterly Benefit</h5>
          <h4 class="price">NGN 350,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Chronic Treatments</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Preventive care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
    </div>
    <!-- Half yearly -->
    <div class="pricing-body" *ngIf="id == 'half-yearly'">
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Half yearly benefit</h5>
          <h4 class="price">NGN 150,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Half yearly benefit</h5>
          <h4 class="price">NGN 250,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Half yearly benefit</h5>
          <h4 class="price">NGN 350,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Chronic Treatments</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Preventive care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="ba-card"></div>
    </div>
    <!-- Yearly -->
    <div class="pricing-body" *ngIf="id == 'yearly'">
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Yearly benefit</h5>
          <h4 class="price">NGN 150,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Yearly benefit</h5>
          <h4 class="price">NGN 250,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="pricing-item">
        <div class="pricing-details">
          <h5>Yearly benefit</h5>
          <h4 class="price">NGN 350,000</h4>
          <p class="">
            This involves treatment of basic medical and surgical (minor)
            outpatient cases.
          </p>
          <ul>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Consultation Coverage</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Screening and Diagnostics</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Maternal & Infant Care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Dental, Eye, ENT, etc</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Chronic Treatments</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Preventive care</p>
            </li>
            <li>
              <img src="../../../assets/img/svg/Check.svg" alt="" />
              <p>Premium</p>
            </li>
          </ul>
        </div>
        <button class="btn tert-btn clickable">Choose Plan</button>
      </div>
      <div class="ba-card"></div>
    </div>
  </div>
</section>

<!--
<div class="hello container">
  <div class="hello-tabs">
    <button
      class="btn"
      [class.active]="packageId == 'berly'"
      (click)="packageChange('berly')"
    >
      Berly
    </button>
    <button
      class="btn"
      [class.active]="packageId == 'ruby'"
      (click)="packageChange('ruby')"
    >
      Ruby
    </button>
    <button class="btn">Sapphirre</button>
    <button class="btn">Emerald</button>
    <button class="btn">Diamond</button>
    <button class="btn">Jade</button>
  </div>
  <div class="hello-body" *ngIf="packageId == 'berly'">
    <div class="hello-body-head dis-flex">
      <div class="">
        <h3 class="">NGN 150,000/Monthly</h3>
        <p class="">
          This involves treatment of basic medical and surgical (minor)
          outpatient cases.
        </p>
      </div>
      <div class="hello-body-head-btn">
        <button class="btn prim-btn" routerLink="/cart-summary">
          Buy now
        </button>
      </div>
    </div>
    <div class="hello-body-body ba-flex-content">
      <ul class="hello-body-list">
        <li>
          <p>Consultation Coverage</p>
          <img src="../../../assets/img/svg/expand_more.svg" alt="" />
        </li>
        <li>
          <p>Consultation Coverage</p>
          <img src="../../../assets/img/svg/expand_more.svg" alt="" />
        </li>
        <li>
          <p>Consultation Coverage</p>
          <img src="../../../assets/img/svg/expand_more.svg" alt="" />
        </li>
      </ul>
      <aside class="hello-body-content">
        <h5 class="">Consultation Coverage</h5>
        <p class="paragh">
          Make sure you use auto layouts to get that cool expanding effect!
        </p>
        <ul>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Fertility Services</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>HIV/AIDS Treatment</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Cancer Care</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Renal Care</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Chronic Disease Management</p>
          </li>
        </ul>
      </aside>
    </div>
  </div>
  <div class="hello-body" *ngIf="packageId == 'ruby'">
    <div class="hello-body-head dis-flex">
      <div class="">
        <h3 class="">NGN 250,000/Monthly</h3>
        <p class="">
          This involves treatment of basic medical and surgical (minor)
          outpatient cases.
        </p>
      </div>
      <div class="hello-body-head-btn">
        <button class="btn prim-btn" routerLink="/cart-summary">
          Buy now
        </button>
      </div>
    </div>
    <div class="hello-body-body ba-flex-content">
      <ul class="hello-body-list">
        <li>
          <p>Consultation Coverage</p>
          <img src="../../../assets/img/svg/expand_more.svg" alt="" />
        </li>
        <li>
          <p>Consultation Coverage</p>
          <img src="../../../assets/img/svg/expand_more.svg" alt="" />
        </li>
        <li>
          <p>Consultation Coverage</p>
          <img src="../../../assets/img/svg/expand_more.svg" alt="" />
        </li>
      </ul>
      <aside class="hello-body-content">
        <h5 class="">Consultation Coverage</h5>
        <p class="paragh">
          Make sure you use auto layouts to get that cool expanding effect!
        </p>
        <ul>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Fertility Services</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>HIV/AIDS Treatment</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Cancer Care</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Renal Care</p>
          </li>
          <li>
            <img src="../../../assets/img/svg/Check.svg" alt="" />
            <p>Chronic Disease Management</p>
          </li>
        </ul>
      </aside>
    </div>
  </div>
</div> -->
