<section class="sect">
  <div class="container ba-flex-content row-reverse">
    <div class="ba-flex-img">
      <img src="../../../assets/img/home/Group2.png" alt="image" />
    </div>
    <div class="ba-flex-details">
      <h2 class="">Find the closest provider near you.</h2>
      <p class="paragh">
        Using our health provider search service, you can find hospitals,
        phamacy, opticians, dentists and physiotherapists near you.
      </p>
    </div>
  </div>
</section>

<section class="sect provider">
  <div class="container ba-flex-content">
    <div class="provider-form">
      <form class="">
        <div class="form-field">
          <input
            type="text"
            placeholder="Search for hospitals, dentists, pharmacy etc."
          />
        </div>
        <div class="form-field">
          <input type="text" placeholder="Location" />
        </div>
        <div class="form-field select">
          <select name="" id="">
            <option value="Dentists">Dentists</option>
            <option value="Dentists">Pharmacy</option>
            <option value="Dentists">Opticians</option>
            <option value="Dentists">Hospitals</option>
            <option value="Dentists">Physiotherapists</option>
          </select>
          <button class="btn prim-btn">Go</button>
        </div>
      </form>
    </div>
    <div class="provider-res">
      <p class="total-res">3 Results</p>
      <div class="res-list">
        <div class="res-item">
          <h3>Agu Specialist Hospital</h3>
          <p>12B Ohanku Road, Aba South, Abia.</p>
        </div>
        <div class="res-item">
          <h3>Agu Specialist Hospital</h3>
          <p>12B Ohanku Road, Aba South, Abia.</p>
        </div>
      </div>
    </div>
  </div>
</section>
